.form-section {
  max-width: 550px;
  margin: 60px auto;
  padding: 30px;
  background: white;
  border-radius: 15px;
}

.form-section h1 {
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  margin-bottom: 25px;
  color: #777;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

input, select, textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

textarea {
  height: 100px;
  resize: none;
}

button {
  margin-top: 15px;
  padding: 12px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: var(--secondary);
  color: black;
}