:root {
  --primary: #3f3b23;
  --secondary: #c2b779;
  --light: #EBE5C2;
  --bg: #F8F3D9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
body {
  font-family: 'Poppins', sans-serif;
  background: var(--bg);
  color: var(--primary);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: var(--primary);
}

.logo {
  color: white;
  font-weight: 600;
}

.navbar nav a {
  color: var(--bg);
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: var(--secondary);
}

/* Buttons */
.btn {
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn {
  background: var(--primary);
  color: white;
}

.btn.secondary {
  background: var(--secondary);
  color: black;
}